	<div class="container">
		<div class="jumbotron opacity">
			<h1 class="text-center">Morgue</h1>
			<h2 class="text-center">Lukasz Mielewczyk</h2>
			<i><h3 class="text-center"><small><a href="mailto:lmielewczyk@inf.ug.edu.pl">lmielewczyk@inf.ug.edu.pl</a></small></h3></i>
			<p>A morgue  is used for the storage of human corpses awaiting identification or removal for autopsy or disposal by burial, cremation or other method. In modern times corpses have customarily been refrigerated to delay decomposition.</p>
		</div>
	</div>