	<div class="container">
		<div class="jumbotron opacity">
			<p><b>Morgue</b> - a room or a separate building next to the church, hospital or a cemetery, which holds the body of the deceased until the funeral.</p>
			<p>Formerly the dead body before burial stored in residential homes.</p>
			<p>At the end of the twentieth century, the portable cooling that allow the storage of the deceased in the home (this custom is still practiced in villages).</p>
		</div>
	</div>